.saltos{
    display: none;
}

.copyright{
    text-align: center;
}

#shfDevelopmentBar {
  background-color: #993300;
  position: fixed;
  right: 0px;
  color: #ffffff;
  /*width: 500px;*/
  z-index: 2147483647;
  padding: 3px;
  border-radius: 0px 0px 0px 5px;
  font-size: 0.8em;
  text-shadow: 1px 1px 2px rgba(20, 20, 20, 1);
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  background-image: url('../img/fondo.png');
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(51,51,51);
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.alert {
  margin-top: 15px;
  margin-bottom: 0px;
}